.header {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;

  &__left {
    align-items: center;
    display: flex;
  }

  &__brand {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    &-name {
      font-size: 0.9rem;
      font-weight: bold;
    }

    &-motto {
      font-size: 0.9rem;
      font-weight: 400;
    }

    @media screen and (max-width: 700px) {
      & {
        display: none;
      }
    }
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;

    &-input {
      width: 100%;
      padding: 8px 8px 8px 32px;
      margin-left: 12px;
      font-size: 1rem;
      border-radius: 8px;
      outline: none;
      border: 1px solid #bbb;
    }

    &-icon {
      position: absolute;
      left: 18px;
    }

    @media screen and (max-width: 700px) {
      & {
        width: 200px;
      }
    }
  }

  &__button {
    appearance: none;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: #3db46e;
    padding: 12px;
    color: #fff;
    cursor: pointer;
  }
}
